//- latex landing page

extends ../_base_kucalc.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'latex';
    subtitle = 'Collaborative Online LaTeX Editor';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-2.col-sm-offset-5.center
        img(src=require("webapp-lib/assets/latex-logo.svg")).fit
      div.col-md-12.center
        h1 #{subtitle}
      div.col-sm-6
        img(src=require("webapp-lib/assets/latex-editor-02.png")).fit
      div.col-sm-6
        p.
          #{NAME} let's you
          #[strong collaboratively edit #[a(href="https://www.latex-project.org/") LaTeX documents] right inside your browser].
        p.
          #[a(href="https://doc.cocalc.com/getting-started.html") Sign up, create a project],
          and create/#[a(href="https://doc.cocalc.com/howto/upload.html") upload] a #[code *.tex] file to get started.
          #{NAME}'s #[a(href="https://doc.cocalc.com/latex.html") LaTeX editor] has a
          #[strong side-by-side preview],
          compiles on the fly, marks errors in the sources,
          and #[strong forward/inverse search] helps to navigate around.
        p.
          All tedious details are taken care of:
        ul
          li You no longer have to install and maintain a LaTeX environment.
          li You do not have to configure the LaTeX engine and install packages.
          li Full #[a(href="#a-timetravel") edit-history] and periodic #[a(href="#a-backups") backups] keep your content safe.

  +start_free_banner

  a.anchor#a-overview
  div.space#overview
    div.container
      div.row
        div.col-md-8.col-md-offset-2.center
          h1 Focus on the content and #{NAME} takes care of everything else

    a.anchor#a-environments
    div.container.space#environments
      div.row
        div.col-md-12
          h2 #[i.fa.fa-heartbeat] Managed LaTeX environments
        div.col-md-6
          img(src=require("webapp-lib/assets/latex-custom-command-02.png")).fit
        div.col-md-6
          div.
            #{NAME} makes sure that your desired LaTeX engine is available and ready to use.
            You can choose between #[a(href="http://www.tug.org/applications/pdftex/") PDF Latex],
            #[a(href="http://xetex.sourceforge.net/") XeLaTeX] or #[a(href="http://www.luatex.org/") LuaTeX].
          div.
            Many packages and utilities like #[a(href="https://sourceforge.net/projects/pgf/") PGF&TikZ] are pre-installed.
          div.
            On top of that, by default #[a(href="http://mg.readthedocs.io/latexmk.html") LatexMK] is configured to manage the compilation process,
            which means that you do not have to bother too much about any additional configuration.
          div.
            Finally, it is possible to fully customize the compilation command.
            This means you can bring your own Shell-script or Makefile!

    a.anchor#a-computational
    div.container.space#computational
      div.row
        div.col-md-12
          h2 #[i.fa.fa-users] Full computational environment
        div.col-md-6
          img(src=require("webapp-lib/assets/latex-editor-02.png")).fit
        div.col-md-6
          div.
            What sets #{NAME} apart from other online LaTeX editors is #[strong full access to computational software].
            This means you can seamlessly transition from #[em computing] your results to #[em publishing] them.
          div.
            You can run #[a(href="https://www.python.org") Python],
            #[a(href="http://www.sagemath.org/") SageMath],
            #[a(href="http://www.r-project.org/") R Statistical Software],
            #[a(href="http://julialang.org") Julia] right inside your browser in the same project as your LaTeX document.
          div.
            Consult the #[a(href=PREFIX + "doc/software.html") Available Software page]
            or look at our #[a(href=PREFIX + "doc/jupyter-notebook.html") Jupyter Notebook information page]
            for more information.

    a.anchor#a-realtimesync
    div.container.space#realtimesync
      div.row
        div.col-md-12
          h2 #[i.fa.fa-users] Collaborative editing
        div.col-md-6
          img(src=require("webapp-lib/assets/cocalc-latex-concurrent-editing.png")).fit
        div.col-md-6
          div.
            Once you share your project privately with collaborators,
            concurrent modifications of the same file are #[strong synchronized in real time].
            You can watch the cursors of others while they edit the document!
            You are also notified about the presence of watching collaborators.
          div.
            Additionally, the compilation status and the resulting output is synchronized between everyone,
            because everything is fully managed by #{NAME}.
          div.
            This ensures that everyone involved experiences editing the document in exactly the same way.

    div.container
      div.row
        div.col-md-8.col-md-offset-2.center
          h2 Dynamic content for your LaTeX documents!
        div.col-md-8.col-md-offset-2.
          Embed snippets of code into LaTeX doucuments,
          which will be evaluated during compilation and their output is included in the generated document.

    a.anchor#a-sagetex
    div.container.space#sagetex
      div.row
        div.col-md-12
          h2 #[i.fa.fa-heartbeat] SageTeX
        div.col-md-6
          img(src=require("webapp-lib/assets/cocalc-sagetex.png")).fit
        div.col-md-6
          div
            strong.
              #[a(href="http://doc.sagemath.org/html/en/tutorial/sagetex.html") SageTeX]
              lets you embed #[a(href="https://www.sagemath.org/") SageMath] in your document!
          div.
            Write Sage commands like #[code \sage{2 + 2}] in LaTeX
            and the document will contain "4",
            #[code \sage{f.taylor(x, 0, 10)}] for the Taylor-expansion a function "f",
            and drawing graphs becomes as simple as #[code \sageplot{sin(x)}].
          div
            strong.
              #{NAME} deals with all the underlying details for you:
          ul
            li It runs the initial compilation pass,
            li uses Sage/Python to compute the text output and graphs/images,
            li and then runs a second compilation pass to produce the final output.

    a.anchor#a-pythontex
    div.container.space#pythontex
      div.row
        div.col-md-12
          h2 #[i.fa.fa-heartbeat] PythonTeX
          div.col-md-6
            img(src=require("webapp-lib/assets/cocalc-pythontex.png")).fit
          div
            strong.
              #[a(href="https://ctan.org/pkg/pythontex") PythonTeX] allows you to
              run Python from within a document and typeset the results.
          div.
            For example, #[code \py{2 + 4**2}] produces "18".
            You can use all #[a(href=PREFIX + "./software-python.html") available python libraries] for Python 3,
            and in particular, check out PythonTeX's support for SymPy and drawing plots via #[code pylab].
          div.
            Again, #{NAME} automatically detects that you want to run PythonTeX and handles all the details for you.

    a.anchor#a-knitr
    div.container.space#knitr
      div.row
        div.col-md-12
          h2 #[i.fa.fa-heartbeat] R/Knitr
        div.col-md-6
          img(src=require("webapp-lib/assets/latex-editor-rnw-01.png")).fit
        div.col-md-6
          div.
            #{NAME}'s Latex editor also supports #[strong #[a(href="https://yihui.name/knitr/") Knitr .Rnw]] documents.
            This gives you the ability to embed arbitrary #[a(href="https://www.r-project.org/") R Project] commands and plots in your LaTeX file.
          div.
            Behind the scenes, #{NAME} deals with all underlying details for you:
          ul
            li installation and management of #[a(href="./software-r.html") all R packages],
            li orchestrates the full compilation pipeline for LaTeX and running R, and
            li.
              reconciles the line-numbers of the .Rnw file with the corresponding .tex document
              for correct #[a(href="#a-forwardinverse") #[strong forward/inverse search]].


    div.container
      div.row
        div.col-md-8.col-md-offset-2.center
          h2 Features

    a.anchor#a-forwardinverse
    div.container.space#forwardinverse
      div.row
        div.col-md-12
          h2 #[i.fa.fa-users] Forward/Inverse search
        div.col-md-6
          div
            +video-player
              source(src="https://storage.googleapis.com/cocalc-extra/latex-forward-inverse-02.webm" type="video/webm; codecs=vp9")
        div.col-md-6
          div.
            Let #{NAME} help you find your way around in large documents!
          div.
            #[strong Forward Search] let's you jump from the LaTeX source to the corresponding part in the rendered preview.
            That saves you time looking for the output by scrolling around.
          div.
            #[strong Inverse search] does the opposite: double-click on a part in the output and
            your cursor jumps (roughly) to the line in the source file for that output.
          div.
            Under the hood, #{NAME} uses #[a(href="https://github.com/jlaurens/synctex") SyncTeX] seamlessly.

    a.anchor#a-timetravel
    div.container.space#timetravel
      div.row
        div.col-md-12
          h2 #[i.fa.fa-history] Time-Travel
        div.col-md-6
          div
            img(src=require("webapp-lib/assets/latex-editor-timetravel-01.png")).fit
        div.col-md-6
          div.
            The #[strong #[a(href="https://doc.cocalc.com/time-travel.html") Time-travel feature]] is specific to the #{NAME} platform.
            It records all changes in the LaTeX notebook in fine detail.
            You can go back and forth in time across hundreds of changes to recover your previous edits.
          div.
            This is especially helpful for pinpointing which of the recent changes did cause a #[strong compilation error].
            You can see the most recent changes during the past few minutes and see exactly where the modification happenend.

    a.anchor#a-chat
    div.container.space#chat
      div.row
        div.col-md-12
          h2 #[i.fa.fa-comments-o] Side-Chat panel
        div.col-md-6
          img(src=require("webapp-lib/assets/cocalc-latex-side-chat-v2.png")).fit
        div.col-md-6
          div.
            A #[strong #[a(href="https://doc.cocalc.com/chat.html") side-by-side chat]] for each LaTeX file
            gives you the ability to discuss the content with your project collaborators
            or give feedback to your students working on their assignments.
          div.
            Collaborators who are offline will be notified about new messages the next time they sign in.
          div.
            Chat messages also support #[a(href="https://en.wikipedia.org/wiki/Markdown") Markdown] formatting and LaTeX formulas.

    a.anchor#a-backups
    div.container.space#backups
      div.row
        div.col-md-12
          h2 #[i.fa.fa-camera-retro] Backups
        div.col-md-6
          img(src=require("webapp-lib/assets/cocalc-backup-1.png")).fit
        div.col-md-6
          div.
            Every couple of minutes, #[strong all files in your project are saved in consistent read-only snapshots].
          div.
            This means you can always recover older versions of your files
            in case they got corrupted or accidentally deleted.

    a.anchor#a-publishing
    div.container.space#publishing
      div.row
        div.col-md-12
          h2 #[i.fa.fa-camera-retro] Publishing
        div.col-md-6
          img(src=require("webapp-lib/assets/cocalc-share-latex-document.png")).fit
        div.col-md-6
          div.
            #{NAME} helps you #[strong sharing your work with the world].
            It offers its own hosting of #[a(href="/share") shared documents],
            alongside with any associated data files.
          div.
            You can configure if your published files should be listed publicly, or rather only be available via a confidential URL.


  +start_free_banner

