//- linux landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'terminal';
    subtitle = 'Online Linux Environment';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-2.col-sm-offset-5.center
        img(src=require("webapp-lib/assets/linux-logo.svg")).fit
      div.col-md-12.center
        h1 #{subtitle}
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/terminal.png").fit
        div.center.
          Linux Terminal in #{NAME}
      div.col-sm-6
        p
          strong.
            #{NAME} offers a full, collaborative, real-time synchronized
            #[a(href="https://en.wikipedia.org/wiki/Linux") Linux] Terminal in your browser.
        p.
          Features and benefits
        ul
          li.
            You no longer have to #[strong install and maintain] any software.
            In particular when you're teaching a class, students just have to sign in to #{NAME} to get started!
          li.
            It is possible to #[strong collaboratively] edit the same terminal in real-time.
          li.
            You can also edit shell script files in an editor and run the script.
          li.
            #[strong Automatic backup] keeps your files safe!
          li.
            You can #[strong copy/paste] between your local desktop the terminal.

  +start_free_banner


  a.anchor#a-software
  div.container#software
    div.row
      div.col-md-12.center
        h2 Comprehensive software stack
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/terminal-software.png").fit
      div.col-sm-6
        p.
          A lot of #[strong popular applications] are included.
          #[a(href="https://git-scm.com/") Git]
          to e.g. interact with #[a(href="https://www.github.com") GitHub],
          #[a(href="https://www.vim.org/") VIM],
          #[a(href="https://www.gnu.org/software/emacs/") Emacs],
          various programming shells like #[a(href="https://ipython.org/") IPython],
          #[a(href="https://www.r-project.org/") R shell],
          or software compilers like #[a(href="https://gcc.gnu.org/") GNU GCC] or
          #[a(href="https://clang.llvm.org/") Clang].
        p.
          There is also support for many programming languages.
          #[a(href=PREFIX + "/doc/python.html") Python],
          JAVA, C/C++,
          #[a(href="https://en.wikipedia.org/wiki/Ada_(programming_language)") Ada],
          #[a(href="https://en.wikipedia.org/wiki/Haskell_(programming_language)") Haskell],
          #[a(href="https://en.wikipedia.org/wiki/Smalltalk") Smalltalk] and many more.
        p.
          Look at our
          #[strong #[a(href="software-executables.html") list of executables]]
          to check what is available!
        p.
          Finally, take a look at our
          #[strong #[a(href="https://doc.cocalc.com/terminal.html") terminal documentation]]
          to learn more about it!


  a.anchor#a-real-time
  div.container.space#real-time
    div.row
      div.col-md-12.center
        h2 Real-time collaboration
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-terminal-collab.gif").fit
        div.center.
          Synchronized Terminals
      div.col-sm-6
        p.
          The same terminal can be opened by two or more users.
          Both see the same view, which adaptively resizes to a common size.
        p.
          Open
          #[a(href="https://doc.cocalc.com/chat.html") side chat]
          to exchange thoughts and ideas.


  a.anchor#a-shell-script
  div.container.space#shell-script
    div.row
      div.col-md-12.center
        h2 Run shell scripts
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-shell-script-run.png").fit
        div.center.
          Bash script (left), #[code bash -f filename.sh] to run (right)
      div.col-sm-6
        p.
          #{NAME}'s #[a(href="https://doc.cocalc.com/frame-editor.html") frame editor] supports editing
          a #[code script.sh] bash script side-by-side with a #[a(href="https://doc.cocalc.com/terminal.html") terminal].
        p.
          To get started, create a script file ending with #[code .sh], for example #[code script.sh].
          Opening that file presents you an editor with syntax highlighting.
          Then click the #[code Shell] button to open up a Terminal and type in #[code bash -f <filename.sh>] to run your script.
        p.
          This helps you learning #[a(href="https://www.gnu.org/software/bash/") GNU Bash] by exploring its commands
          directly in your browser and immediately experiencing the results.




  a.anchor#a-jupyter
  div.container.space#jupyter
    div.row
      div.col-md-12.center
        h2 Jupyter Bash Kernel
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter-bash.png").fit
        div.center.
          Jupyter Notebook running bash kernel
      div.col-sm-6
        p.
          Are you looking for something beyond a terminal or editing shell scripts?
          #{NAME} also offers the #[strong #[a(href="https://github.com/takluyver/bash_kernel") bash kernel] for Jupyter Notebooks].
        p.
          This is similar to working with a terminal, but it saves all the intput you typed and the corresponding output in "cells".
          That helps you with learning linux commands, because it makes it easier to edit the input and compare different outcomes of similar code.
          Besides that, you can also take notes between code cells.



  a.anchor#a-snapshot-backups
  div.container.space#snapshot-backups
    div.row
      div.col-md-12.center
        h2 Snapshot backups
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-snapshots.png").fit
        div.center.
          List of Snapshots
      div.col-sm-6
        p.
          The #{NAME} terminal is ideal for #[strong teaching/learning Linux],
          because in case you make mistake it has your back!
        p.
          Everything runs remotely on #{NAME}'s servers!
          This means you do not have to worry about messing up your own computer,
          deal with setup and installation issues by yourself,
          or fear of losing or corrupting your own files when you make a mistake.
        p.
          #[strong Snapshots] are consistent read-only views of all your files in a
          #[a(href="https://doc.cocalc.com/project.html") #{NAME} project].
          Restore your file(s) by copying back the one(s) that were lost or got corrupted.
        p.
          Therefore, this is ideal to learn basic shell commands or more about Linux online.


  a.anchor#a-database
  div.container.space#database
    div.row
      div.col-md-12.center
        h2 Databases (PostgreSQL, MySQL, SQLite, ...)
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/terminal-jupyter-postgresql.png").fit
        div.center.
          Jupyter Notebook interacting with a hosted PostgreSQL database
      div.col-sm-6
        p.
          #[strong #{NAME} supports running various databases inside a project.]
          They run in the same protected networking environment as all other processes in a project.
          This is ideal for #[strong learning SQL] or #[strong persistently storing data] as a result of your computations.
        p.
          #[strong PostgreSQL]: read the #[a(href="https://doc.cocalc.com/howto/postgresql.html") PostgreSQL Setup Guide] to get started.
        p.
          Besides #[a(href="https://https://www.postgresql.org/") PostgreSQL],
          #{NAME} also supports #[a(href="https://www.mysql.com/") MySQL] and
          #[a(href="https://sqlite.org") SQLite].
        p.
          To interact with the databases, #{NAME} #[strong pre-installs suitable Python and R libraries] for your convenience.
        p.
          In the screenshot on the left, you can see how a PostgreSQL database was setup and started in the first terminal.
          In the second terminal, #[code psql] is used to connect to it and create a table and insert data.
          Finally, in the #[a(href=PREFIX + "/doc/jupyter-notebook.html") Jupyter Notebook] on the left connects via
          the #[a(href="http://initd.org/psycopg/docs/") psycopg2] library and issues a query to the database!


  +start_free_banner
