//- linux landing page

extends _terminal.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'linux';
    subtitle = 'Online Linux Environment';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-2.col-sm-offset-5.center
        img(src=require("webapp-lib/assets/linux-logo.svg")).fit
      div.col-md-12.center
        h1 #{subtitle}
    +linux-software


  +start_free_banner

  a.anchor#a-linux-terminal
  div.container.space#linux-terminal
    div.row
      div.col-md-12.center
        h2 Online Linux Terminal
      +linux-terminal-main

  +terminal-real-time

  a.anchor#a-shell-script
  div.container.space#shell-script
    div.row
      div.col-md-12.center
        h2 Run Bash scripts
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-shell-script-run.png").fit
        div.center.
          Bash #[code script.sh] file (left), #[code bash -f script.sh] to run (right)
      div.col-sm-6
        p.
          #{NAME}'s #[a(href="https://doc.cocalc.com/frame-editor.html") frame editor] supports
          #[strong editing a #[a(href="https://www.gnu.org/software/bash/") bash script] side-by-side with a #[a(href="https://doc.cocalc.com/terminal.html") terminal]].
        p.
          To get started, create a script file ending with #[code .sh], for example #[code script.sh].
          Opening that file presents you an editor with #[strong syntax highlighting].
          Then click the #[code Shell] button to open up a Terminal and type in #[code bash -f <filename.sh>] to run your script.
        p.
          This helps you learning Bash by exploring its commands
          directly in your browser and immediately experiencing the results.



  a.anchor#a-jupyter
  div.container.space#jupyter
    div.row
      div.col-md-12.center
        h2 Jupyter Bash kernel
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter-bash.png").fit
        div.center.
          Jupyter Notebook running a bash kernel
      div.col-sm-6
        p.
          Are you looking for something beyond a terminal or editing shell scripts?
          #{NAME} also offers #[strong Jupyter Notebooks running the #[a(href="https://github.com/takluyver/bash_kernel") bash kernel]].
        p.
          This is similar to working with a terminal, but it saves all the input you typed and the corresponding output in "cells".
          That helps you with learning Linux commands, because it makes it easier to edit the code input or
          compare different outcomes of similar code.
          Besides that, you can also take notes between code cells.

  +linux-snapshot-backups

  a.anchor#a-database
  div.container.space#database
    div.row
      div.col-md-12.center
        h2 Databases (PostgreSQL, MySQL, SQLite, ...)
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/terminal-jupyter-postgresql.png").fit
        div.center.
          Jupyter Notebook interacting with a hosted PostgreSQL database
      div.col-sm-6
        p.
          #[strong #{NAME} supports running various databases inside a project.]
          They run in the same protected networking environment as all other processes in a project.
          This is ideal for #[strong learning SQL] or #[strong persistently storing data] as a result of your computations.
        p.
          #[strong PostgreSQL]: read the #[a(href="https://doc.cocalc.com/howto/postgresql.html") PostgreSQL Setup Guide] to get started.
        p.
          Besides #[a(href="https://https://www.postgresql.org/") PostgreSQL],
          #{NAME} also supports #[a(href="https://www.mysql.com/") MySQL] and
          #[a(href="https://sqlite.org") SQLite].
        p.
          To interact with the databases, #{NAME} #[strong pre-installs suitable Python and R libraries] for your convenience.
        p.
          In the screenshot on the left, you can see how a PostgreSQL database was setup and started in the first terminal.
          In the second terminal, #[code psql] is used to connect to it and create a table and insert data.
          Finally, in the #[a(href=PREFIX + "/doc/jupyter-notebook.html") Jupyter Notebook] on the left connects via
          the #[a(href="http://initd.org/psycopg/docs/") psycopg2] library and issues a query to the database!


  +start_free_banner
