//- latex landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'terminal';
    subtitle = 'Online Linux Terminal';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-4.col-sm-offset-4.center
        a(href=PREFIX + "app")
          img(src=require('!url-loader?mimetype=image/svg+xml!cocalc-logo.svg'))
      div.col-sm-12.center.descr.
        #{htmlWebpackPlugin.options.description}
      div.col-sm-12.center
        +start_button

    div.row
      div.col-md-12.center
        h1 Online Linux Terminal
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/terminal.png").fit
        div.
          Linux Shell in CoCalc
      div.col-sm-6
        p
          strong.
            #{NAME} offers a full, collaborative, real-time synchronized
            #[a(href="https://en.wikipedia.org/wiki/Linux") Linux] Terminal in your browser.
        p.
          Features and benefits
        ul
          li.
            You no longer have to #[strong install and maintain] any software.
            In particular when you're teaching a class, students just have to sign in to #{NAME} to get started!
          li.
            It is also possible to #[strong collaboratively] edit the same terminal in real-time.
          li.
            #[strong Automatic backup] keeps your files safe!
          li.
            You can #[strong copy/paste] between your local desktop the terminal.

        p.
          #[strong Popular applications] are
          #[a(href="https://git-scm.com/") Git] to e.g. interact with #[a(href="https://www.github.com")],
          ...
          #[a(href="software-executables.html") and many more]…
        p.
          Read our #[a(href="https://doc.cocalc.com/terminal.html") terminal documentation] to learn more about this!


    div.row
      div.col-md-12.center
        h2 Real-time collaboration
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-terminal-collab.gif").fit
        div.center.
          Synchronized Terminals
      div.col-sm-6
        p.
          The same terminal can be opened by two or more users.
          Both see the same view, which adaptively resizes to a common size.
        p.
          Open side-chat to exchange thoughts and ideas.


    div.row
      div.col-md-12.center
        h2 Snapshot backups
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-snapshots.png").fit
        div.center.
          List of Snapshosts
      div.col-sm-6
        p.
          In case you make mistake, #{NAME} has your back!
        p.
          Everything runs remotely on #{NAME}'s servers!
          This means you do not have to worry about messing up your own computer,
          deal with setup and installation issues by yourself,
          or fear of losing or corrupting your own files when you make a mistake.
        p.
          #[strong Snapshots] are consistent read-only views of all your files in a
          #[a(href="https://doc.cocalc.com/project.html") #{NAME} project].
          Restore your file(s) by copying back the one(s) that were lost or got corrupted.
        p.
          Therefore, this is ideal to learn basic shell commands or learn more about Linux online.


  div.container
    div.row(style="margin-top: 6rem")
      +start_free
      div.col-sm-12.center
        +start_button