//- latex landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'terminal';
    subtitle = 'Linux Terminal';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      body > div.space
        margin-top       : 5rem
      div#top
        margin           : 10rem 0 5rem 0
        .descr
          color          : $COL_GRAY
          font-size      : 2rem
        > div
          margin-bottom  : 2rem
      blockquote.blockquote
        font-size        : 16px
        img
          height         : 10rem
          width          : auto
          float          : left
          margin         : 0 1rem 1rem 0
      ul,
      ol
        padding-left     : 2rem
      div
        img
          width             : 100%
          height            : auto
        &.row
          margin-top        : 2rem
          margin-bottom     : 4rem
          > div
            > h1
              margin-bottom : 4rem
            > h2, h3
              margin-bottom : 2rem
            > div
              margin-bottom : 1rem

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-4.col-sm-offset-4.center
        a(href=PREFIX + "app")
          img(src=require('!url-loader?mimetype=image/svg+xml!cocalc-logo.svg'))
      div.col-sm-12.center.descr.
        #{htmlWebpackPlugin.options.description}
      div.col-sm-12.center
        +start_button

    div.row
      div.col-md-12.center
        h1 Online Linux Terminal
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/terminal.png").fit
        div.
          Linux Shell in CoCalc
      div.col-sm-6
        p.
          #{NAME} gives you a full, collaborative #[a(href="https://en.wikipedia.org/wiki/Linux") Linux] Terminal in your browser.
        p.
          Features and benefits
        ul
          li.
            You no longer have to #[strong install and maintain] the applications.
            In particular when you're teaching a class, students just have to sign in to CoCalc to get started!
          li.
            It is also possible to #[strong collaboratively] interact with the same terminal in real-time.
          li.
            You can #[strong copy/paste] between your local desktop the terminal.
          li.
            #[strong Automatic backup] keeps your files safe!

        p.
          #[strong Popular applications] are
          #[a(href="https://git-scm.com/") Git] to e.g. interact with #[a(href="https://www.github.com")],
          ...
        p.
          Read our #[a(href="https://doc.cocalc.com/terminal.html") terminal documentation] to learn more about this!

    div.row
      div.col-md-12.center
        h2 Real-time collaboration
      div.col-sm-6
        div
          img(src="").fit
        div.center.
          Synchronized Terminals
      div.col-sm-6
        p.
          The same terminal can be opened by two or more users.
        p.
          Side-chat to exchange thoughts and ideas.



    div.row
      div.col-md-12.center
        h2 Snapshot backups
      div.col-sm-6
        div
          img(src="").fit
        div.center.
          List of Snapshosts
      div.col-sm-6
        p.
          In case you make mistake, #{NAME} has your back!



  div.container
    div.row(style="margin-top: 6rem")
      +start_free
      div.col-sm-12.center
        +start_button