//- latex landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'python';
    subtitle = 'Extensive Python Stack';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-2.col-sm-offset-5.center
        img(src=require("webapp-lib/assets/python-logo.svg")).fit
      div.col-md-12.center
        h1 All around Python in #{NAME}

  div.container
    div.row
      div.col-sm-6
        div
          img(src="https://storage.googleapis.com/cocalc-extra/frame-editor-python.png").fit
        div.center.
          Edit and Run Python Code Online
      div.col-sm-6
        p.
          #{NAME} offers a lot for working with Python:
        ul
          li.
            #[strong Data Science and Machine Learning]:
            #[a(href="https://doc.cocalc.com/howto/upload.html") Upload] your datafiles and analyze them using
            #[a(href="https://www.tensorflow.org/") Tensorflow],
            #[a(href="https://scikit-learn.org/stable/") scikit-learn],
            #[a(href="https://keras.io/") Keras],
            ... including an #[a(href="https://www.anaconda.com/distribution/") Anaconda] environment.
          li.
            #[strong Mathematics]:
            #[a(href="https://www.sympy.org") SymPy],
            #[a(href="https://www.sagemath.org") SageMath],
            ...
          li.
            #[strong Statistics]:
            #[a(href="https://pandas.pydata.org/") pandas],
            #[a(href="https://www.statsmodels.org/") statsmodels],
            #[a(href="https://rpy2.readthedocs.io") rpy2 (R bridge)],
            ...
          li.
            #[strong Visualization]:
            #[a(href="https://matplotlib.org/") matplotlib],
            #[a(href="https://plot.ly/python/plotly-fundamentals/") plotly],
            #[a(href="https://seaborn.pydata.org/") seaborn],
            ...
          li.
            #[strong Teaching]:
            learn Python online or teach a course.
        p.
          Find more details in the #[a(href=PREFIX + "./software-python.html") list of installed Python libraries].


  a.anchor#a-collaboration
  div.container.space#collaboration
    div.row
      div.col-md-12.center
        h2 Collaborative Workspace
      div.col-sm-6
        div
          img(src=require("webapp-lib/assets/cocalc-real-time-jupyter.png")).fit
        div.center.
          Synchronized Jupyter Notebooks
      div.col-sm-6
        p.
          #{NAME}'s strength is #[strong online code collaboration].
          This is a common theme for editing plain Python files,
          #[a(href="https://doc.cocalc.com/sagews.html") Sage Worksheets] and
          #[a(href="jupyter-notebook.html") Jupyter Notebooks].
        p.
          This enables you to work more effective as a team
          to solve the challenges of data science, machine learning and statistics.
          Every collaborator is always looking at the most recent state of files,
          experiences and inspects the same problems at the same time,
          and you can get help via
          #[a(href="https://doc.cocalc.com/chat.html") side chat]
          by
          #[a(href="https://doc.cocalc.com/chat.html") "@name" mention] a collaborator.

  +start_free_banner
