//- R landing page

extends ../_base.pug

block vars
  - var subtitle = 'R Statistical Computing Online Environment';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS: overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      body > div.space
        margin-top       : 5rem
      div#top
        margin           : 10rem 0 5rem 0
        .descr
          color          : $COL_GRAY
          font-size      : 2rem
        > div
          margin-bottom  : 2rem
      blockquote.blockquote
        font-size        : 16px
        img
          height         : 10rem
          width          : auto
          float          : left
          margin         : 0 1rem 1rem 0
      ul,
      ol
        padding-left     : 2rem
      div
        img
          width             : 100%
          height            : auto
        &.row
          margin-top        : 2rem
          margin-bottom     : 4rem
          > div
            > h1
              margin-bottom : 4rem
            > h2, h3
              margin-bottom : 2rem
            > div
              margin-bottom : 1rem

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-4.col-sm-offset-4.center
        a(href=PREFIX + "app")
          img(src=require('!url-loader?mimetype=image/svg+xml!cocalc-logo.svg'))
      div.col-sm-12.center.descr.
        #{htmlWebpackPlugin.options.description}
      div.col-sm-12.center
        +start_button

    div.row
      div.col-md-12.center
        h1 #{subtitle}
      div.col-sm-6.col-sm-offset-3
        p.
          #{NAME} is an online web service where you can
          #[strong run #[a(href="https://www.r-project.org/") R code] right inside your browser].
        p.
          It handles all the tedious details for you,
          regardless if you want to work on the command-line, with Jupyter Notebooks, or use Knitr in LaTeX documents.
        p.
          This page explains a couple of ways how to use R on #{NAME}.
          Learn more about the #[a(href=PREFIX) #{NAME} platform here].

    div.row
      div.col-sm-4.col-sm-offset-2
        p.
          You no longer have to:
        ul
          li download and install the R software
          li setup additional packages you want to use
          li integrate addiitonal software like a LaTeX editor with R
          li maintain everything on your own.
      div.col-sm-4
        p.
          Instead, all you need to do to get started is to
        ol
          li create an account
          li create a project
          li upload your existing code files, create a Jupyter Notebook using the R kernel, or work on your LaTeX files


    a.anchor#a-jupyternotebook
    div.container.space#jupyternotebook
      div.row
        div.col-md-12
          h2 #[i.fa.fa-fw.cc-icon-jupyter] R in Jupyter Notebooks
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-jupyter.png").fit
        div.col-md-6
          div.
            #{NAME} offers a #[strong complete rewrite] of the classical #[a(href="http://jupyter.org/") Jupyter notebook] interface.
            It is tightly integrated into #{NAME} and adds real-time collaboration,
            time-travel history and
            #[a(href="http://blog.sagemath.com/jupyter/2017/05/05/jupyter-rewrite-for-smc.html") much more].
          div.
            This rewrite does not change the underlying Jupyter notebook file format.
            Therefore, you can download your #[code *.ipynb] file at any time and continue working in another environment.
          div.
            Despite that, there is also support for running the
            #[a(href="https://github.com/sagemathinc/cocalc/wiki/JupyterClassicModern") "Classical Jupyter notebook"].

    a.anchor#a-codeformatting
    div.container.space#codeformatting
      div.row
        div.col-md-12
          h2 #[i.fa.fa-history] Code formatting
        div.col-md-6
          div
            +video-player
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter-r-format-cell.webm" type="video/webm; codecs=vp9")
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter-r-format-cell.mp4" type="video/mp4")
        div.col-md-6
          div.
            #{NAME} helps you formatting R code!
          div.
            By the simplicity of clicking one button,
            #[strong your R source code is formatted in a clean and consistent way].
            This reduces some cognitive load reading source code, brings everyone in the team on the same page, and reduces misunderstandings.

    a.anchor#a-collaboration
    div.container.space#collaboration
      div.row
        div.col-md-12
          h2 #[i.fa.fa-users] Collaborative editing
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-jupyter-collaborate.png").fit
        div.col-md-6
          div.
            You can share your files on #{NAME} with project collaborators.
            Modifications are #[strong synchronized in real time].
            Watch the cursors of others while they edit the document.
            You are also notified about the presence of watching collaborators.
          div.
            Additionally, the status and results of all computations in the currently running kernel session are also synchronized,
            because it is fully hosted on #{NAME}.
          div.
            Together, everyone involved experiences the document in exactly the same way.

    a.anchor#a-commandline
    div.container.space#commandline
      div.row
        div.col-md-12
          h2 #[i.fa.fa-fw.cc-icon-jupyter] Command-line support
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-rcode.png").fit
        div.col-md-6
          div.
            All your existing R scripts run on the command line.
            Open up a Terminal and you find yourself in a familiar Linux shell
            with a local filesystem for your data files, access to #[a(href="https://www.git-scm.com") Git] and
            #[a(href="./software-executables.html") much more...]
            #[strong Feel like at home and run your analysis as usual!]
          div.
            Terminals can be used #[em by multiple users at once].
            This means you can work with your collaborators in the same session at the same time.
            Everyone sees the same output and via a side-chat next to the terminal the whole team can coordinate what you're doing.
          dev.
            Beyond that, you can simultaneously work with several terminal sessions.
            This gives you the ability to run your code concurrently.
          div.
            For long-running programs, you can even close your browser and check upon the result later.

    a.anchor#a-latex
    div.container.space#latex
      div.row
        div.col-md-12
          h2 #[i.fa.fa-fw.cc-icon-jupyter] Extensive LaTeX support for R
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-latex.png").fit
        div.col-md-6
          div.
            The fully integrated #[a(href="./latex-editor.html") #{NAME} latex editor]
            covers all your basic needs for working with #[code .tex], #[code .Rnw] and #[code .Rtex] files.
            The document is synchronized with your collaborators in real-time
            and everyone sees the very same compiled PDF.
            In particular, this LaTeX editor
          ul
            li.
              manages the entire compilation pipeline for you,
            li.
              automatically processes
              #[strong #[code .Rnw] and #[code .Rtex] files] using
              #[strong #[a(href="https://yihui.name/knitr/" target="_blank") Knitr]],
            li.
              supports #[strong forward and inverse search] to help you navigating in your document,
            li.
              captures and shows you where LaTeX errors happen,
            li.
              and via "TimeTravel",
              you can go back in time to see your latest edits using
              in order to recover from a recent mistake.
          div.
            Combined, this means you can do #[strong your entire workflow online on #{NAME}]:
          ol
            li upload or fetch your datasets,
            li use Jupyter Notebooks to explore the data and test your hypothesis,
            li discuss and collaborate with your research team,
            li write down your research paper in an #[code .Rtex] document,
            li publish the datasets, your research code, and the PDF of your paper online, all hosted on #{NAME}.

    a.anchor#a-chat
    div.container.space#chat
      div.row
        div.col-md-12
          h2 #[i.fa.fa-comments-o] Chat panel
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-side-chat.png").fit
        div.col-md-6
          div.
            Collaboration is a first class citizen on #{NAME}.
            A #[strong side-by-side chat] for each file gives you the ability to discuss the content with your colleagues or students.
          div.
            Additionally, little avatars give you #[strong presence information] about who is currently also working on that file.
          div.
            Collaborators who are not online will be notified about new messages the next time they sign in.
          div.
            Chat supports markdown formatting and LaTeX formulas.

    a.anchor#a-environment
    div.container.space#environment
      div.row
        div.col-md-12
          h2 #[i.fa.fa-heartbeat] Managed R Environment
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-environment.png").fit
        div.col-md-6
          div.
            #{NAME} makes sure that the computational environment for R is regularly updated and ready to work with.
            Our goal is that you are able to get started with your analysis without any overhead.
          div.
            Look at our #[a(href=PREFIX + "/doc/software-r.html") list of available packages] in more detail!
            In case anything is missing, we're happy to learn about it and install that package globally.

    a.anchor#a-timetravel
    div.container.space#timetravel
      div.row
        div.col-md-12
          h2 #[i.fa.fa-history] Time-Travel
        div.col-md-6
          div
            +video-player
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-timetravel-r-jupyter-3x.webm" type="video/webm; codecs=vp9")
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-timetravel-r-jupyter-3x.mp4" type="video/mp4")
        div.col-md-6
          div.
            The #[strong Time-travel] feature is specific to the #{NAME} platform.
            It records all your changes in editable files like the Jupyter notebooks and LaTeX documents in fine detail.
            You can go back and forth in time across hundreds of changes to recover your previous edits.
          div.
            This allows you to easily recover parts of previous versions of your file,
            by copy/pasting the part you accidentally changed.
          div.
            You can also relive the entire process of editing the file from the very start.
            This lets you discover how you arrived at a particular solution and see what you (or your student) attempted before the final solution.

    a.anchor#a-backups
    div.container.space#backups
      div.row
        div.col-md-12
          h2 #[i.fa.fa-camera-retro] Backups
        div.col-md-6
          img(src=require("webapp-lib/assets/cocalc-backup-1.png")).fit
        div.col-md-6
          div.
            Every couple of minutes, #[strong all files in your project are saved in consistent read-only snapshots].
          div.
            This means you can always recover older versions of your files
            in case they got corrupted or accidentally deleted.

    a.anchor#a-publishing
    div.container.space#publishing
      div.row
        div.col-md-12
          h2 #[i.fa.fa-camera-retro] Publishing
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-share-notebook.png").fit
        div.col-md-6
          div.
            #{NAME} helps you #[strong sharing your work with the world].
            It offers its own hosting of shared documents, which includes Jupyter notebooks,
            PDF files, image files, and associated data files.
          div.
            Under the hood, #{NAME} uses a novel renderer which generates a static HTML representation on the server side
            and even includes pre-rendered LaTeX formulas.
            This approach does not suffer from the same shortcomings as other solutions based on
            #[a(href="https://nbconvert.readthedocs.io") nbconvert].
          div.
            Example: #[a(href="https://share.cocalc.com/share/20e4a191-73ea-4921-80e9-0a5d792fc511/ir-display.ipynb?viewer=share") Published R notebook].

  div
    div.container
      div.row
        div.col-sm-12.center(style="margin-top: 6rem")
          +start_button

