//- R landing page

extends ../_base.pug

block vars
  -
    var navbar_active = 'features';
    var subnavbar_active = 'r';
    var subtitle = 'R Statistical Computing Online Environment';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS: overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"


  div.space#top
    div.container
      div.row.intro
        div.col-md-6.center
          div.row
            div.col-sm-4.col-sm-offset-4.center
              img(src=require("webapp-lib/assets/r-logo.svg")).fit
            div.col-sm-12
              div.headline #{subtitle}
              div.subheadline.
                Run #[a(href="https://www.r-project.org/") R code],
                #[a(href="#a-jupyternotebook") R in Jupyter notebooks],
                RMarkdown, or even #[a(href="#a-latex") Knitr/Rnw] in a full, remote R environment.
        div.col-md-6.center
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-jupyter.png").fit.shadow.rounded
      div.row
        div.col-md-12.center
          +start_button_2("r")



  div.container
    div.row.spacing2
      div.col-sm-6
        h3.firstline.
          #{NAME} makes working with R easy
        div.
          #{NAME} handles all the tedious details for you,
          regardless of whether you want to work on the #[a(href=PREFIX + "/doc/terminal.html") command line],
          run #[a(href="#a-jupyternotebook") Jupyter Notebooks],
          create RMarkdown files, or use
          #[a(href="#a-latex") Knitr in LaTeX documents].
        p.
          This page explains a couple of ways how to use R on #{NAME}.
          Learn more about the #[a(href=PREFIX) #{NAME} platform here].
      div.col-sm-6
        h3.firstline #[i.fa.fa-lightbulb-o] Zero setup
        ul.list
          li No need to download and install #[a(href="https://www.r-project.org/") R]
          li #{NAME} already #[a(href=PREFIX + "/doc/software-r.html") provides many packages] for you
          li The #[a(href=PREFIX + "/doc/latex-editor.html") LaTeX editor] is already integrated with R
          li No longer maintain everything on your own
        div.
          Start working by creating or
          #[a(href="https://doc.cocalc.com/howto/upload.html") uploading R files],
          RMarkdown, or
          #[a(href=PREFIX + "/doc/jupyter-notebook.html") Jupyter Notebooks].


  +start_free_banner('r')


  div.space
    a.anchor#a-jupyternotebook
    div.container.space#jupyternotebook
      div.row
        div.col-md-12
          h2.firstline
            +jupyter-icon
            | R in Jupyter Notebooks
        div.col-md-6
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-r-jupyter.png").fit
        div.col-md-6
          div.
            #{NAME} offers a
            #[strong #[a(href="./jupyter-notebook.html") complete rewrite]]
            of the classical #[a(href="http://jupyter.org/") Jupyter notebook] interface.
            It is tightly integrated into #{NAME} and adds real-time collaboration,
            time-travel history and
            #[a(href="http://doc.cocalc.com/jupyter.html") more].
          div.
            This rewrite does not change the underlying Jupyter notebook file format.
            Therefore, you can download your #[code *.ipynb] file at any time and continue working in another environment.
          div.
            Despite that, there is also support for running the
            #[a(href="https://doc.cocalc.com/jupyter.html#classical-versus-cocalc") "Classical Jupyter notebook"].

    a.anchor#a-latex
    div.container.space#latex
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-pen-fancy]  Extensive LaTeX support for R
        div.col-md-6
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-r-latex.png").fit
        div.col-md-6
          div.
            The fully integrated #[a(href="./latex-editor.html") #{NAME} latex editor]
            covers all your basic needs for working with #[code .tex], #[code .Rnw] and #[code .Rtex] files.
            The document is synchronized with your collaborators in real-time
            and everyone sees the very same compiled PDF.
            In particular, this LaTeX editor
          ul
            li.
              Manages the entire compilation pipeline for you,
            li.
              Automatically processes
              #[strong #[code .Rnw] and #[code .Rtex] files] using
              #[strong #[a(href="https://yihui.name/knitr/" target="_blank" rel="noopener") Knitr]],
            li.
              Supports #[strong forward and inverse search] to help you navigating in your document,
            li.
              Captures and shows you #[strong where LaTeX or R error happen],
            li.
              and via "TimeTravel",
              you can go back in time to see your latest edits
              in order to
              #[strong easily recover from a recent mistake].
          div.
            Combined, this means you can do #[strong your entire workflow online on #{NAME}]:
          ol
            li #[a(href="https://doc.cocalc.com/howto/upload.html") Upload] or fetch your datasets,
            li.
              Use #[a(href="#a-jupyternotebook") Jupyter Notebooks]
              to explore the data and test your hypothesis,
            li.
              #[a(href="#a-chat") Discuss] and
              #[a(href="#a-collaboration") collaborate] with your research team,
            li Write your research paper in an #[code .Rtex] or #[code .Rnw] document,
            li.
              #[a(href="#a-publishing") Publish] the datasets, your research code,
              and the PDF of your paper online, all hosted on #{NAME}.

    a.anchor#a-rmarkdown
    div.container.space#rmarkdown
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-pen-fancy]  RMarkdown support
        div.col-md-6
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-rmd-demo-R-python3-plotting.png").fit
        div.col-md-6
          div
            strong.
              You can edit #[a(href="https://rmarkdown.rstudio.com/") RMarkdown files]
              in #{NAME}'s native code editor.
          div.
            The source file is processed according to the YAML-frontmatter configuration
            and the view of the generated file is automatically updated
            &mdash; in the HTML or PDF panel.
          div.
            #[strong Syntax highlighting] for markdown and
            emedded programming code &mdash; according to their language &mdash;
            makes it easy to visually understand the source file.
          div.
            #{NAME}'s library features selected example files to get started quickly:
            e.g. HTML reports, article templates and a beamer presentation.

    a.anchor#a-codeformatting
    div.container.space#codeformatting
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-sitemap]  Code formatting
        div.col-md-6
          div
            +video-player
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter-r-format-cell.webm" type="video/webm; codecs=vp9")
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter-r-format-cell.mp4" type="video/mp4")
        div.col-md-6
          div
            strong #{NAME} is able to format your R code.
          div.
            By simply clicking one button,
            #[strong your R source code is formatted in a clean and consistent way].
          div.
            This reduces cognitive load reading source code,
            brings everyone in the team on the same page,
            and reduces misunderstandings.
          div.
            R code formatting works with #[strong pure #[code .r] files] and #[strong Jupyter Notebooks running an R kernel].


    a.anchor#a-collaboration
    div.container.space#collaboration
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-users] Collaborative editing
        div.col-md-6
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-r-jupyter-collaborate.png").fit
        div.col-md-6
          div.
            You can share your files on #{NAME} with project collaborators.
            Modifications are #[strong synchronized in real time].
            Watch the cursors of others while they edit the document.
            You are also notified about the presence of watching collaborators.
          div.
            Additionally, the status and results of all computations in the currently running kernel session are also synchronized,
            because it is fully hosted on #{NAME}.
          div.
            Together, everyone involved experiences the document in exactly the same way.

    a.anchor#a-commandline
    div.container.space#commandline
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-terminal]  Command-line support
        div.col-md-6
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-rcode.png").fit
        div.col-md-6
          div.
            All your existing R scripts run on the command line.
            Open a Terminal and you find yourself in a familiar Linux shell
            with a local filesystem for your data files, access to #[a(href="https://www.git-scm.com") Git] and
            #[a(href="./software-executables.html") more...]
            #[strong Feel at home and run your analysis as usual!]
          div.
            Terminals can be used #[em by multiple users at once].
            This means you can work with your collaborators in the same session at the same time.
            Everyone sees the same output, and via
            #[a(href="https://doc.cocalc.com/chat.html") side chat]
            next to the terminal, the whole team can coordinate what you're doing.
          div.
            Beyond that, you can simultaneously work with several terminal sessions.
            This gives you the ability to run your code concurrently.
          div.
            For long-running programs, you can even close your browser and check upon the result later.

    a.anchor#a-chat
    div.container.space#chat
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-comment] Chatrooms and Side-chat
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-side-chat.png").fit
        div.col-md-6
          div.
            Collaboration is a first class citizen on #{NAME}.
            A #[a(href="https://doc.cocalc.com/chat.html") side-by-side chat] for each file gives you the ability to discuss the content with your colleagues or students.
          div.
            Additionally, little avatars give you #[strong presence information] about who is currently also working on that file.
          div.
            Collaborators who are not online will be notified about new messages the next time they sign in.
          div.
            #[a(href="https://doc.cocalc.com/chat.html") Chat] supports markdown formatting and LaTeX formulas.

    a.anchor#a-environment
    div.container.space#environment
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-heartbeat] Managed R Environment
        div.col-md-6
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-r-environment.png").fit
        div.col-md-6
          div.
            #{NAME} makes sure that the computational environment for R is regularly updated and ready to work with.
            Our goal is enabling you to get started with your analysis without any overhead.
          div.
            Look at our #[a(href=PREFIX + "/doc/software-r.html") list of available packages] in more detail.
            If something is missing, we're glad to learn about it and install that package globally.

    a.anchor#a-timetravel
    div.container.space#timetravel
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-history] Time-Travel
        div.col-md-6
          div
            +video-player
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-timetravel-r-jupyter-3x.webm" type="video/webm; codecs=vp9")
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-timetravel-r-jupyter-3x.mp4" type="video/mp4")
        div.col-md-6
          div.
            The #[strong #[a(href="https://doc.cocalc.com/time-travel.html") Time-travel feature]]
            is specific to the #{NAME} platform.
            It records all your changes in editable files like
            R source code, Jupyter notebook and LaTeX documents in fine detail.
            You can go back and forth in time across hundreds of changes to recover your previous edits.
          div.
            This allows you to easily recover parts of previous versions of your file,
            by copy/pasting the part you accidentally changed.
          div.
            You can also relive the entire process of editing the file from the very start.
            This lets you discover how you arrived at a particular solution
            and see what you (or your student) attempted before the final solution.

    a.anchor#a-backups
    div.container.space#backups
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-camera-retro] Backups
        div.col-md-6
          img(data-src=require("webapp-lib/assets/cocalc-backup-1.png")).fit
        div.col-md-6
          div.
            Every couple of minutes, #[strong all files in your project are saved in consistent read-only snapshots].
          div.
            This means you can always recover older versions of your files
            in case they got corrupted or accidentally deleted.

    a.anchor#a-publishing
    div.container.space#publishing
      div.row
        div.col-md-12
          h2.firstline #[i.fa.fa-bullhorn] Publishing
        div.col-md-6
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-r-share-notebook.png").fit
        div.col-md-6
          div.
            #{NAME} helps you #[strong share your work with the world].
            It offers hosting of shared documents, which includes Jupyter notebooks,
            PDF files, image files, and associated data files.
          div.
            Under the hood, #{NAME} uses a novel renderer which generates a static HTML representation on the server side
            and even includes pre-rendered LaTeX formulas.
            This approach does not suffer from the same shortcomings as other solutions based on
            #[a(href="https://nbconvert.readthedocs.io") nbconvert].
          div.
            Example: #[a(href="https://share.cocalc.com/share/20e4a191-73ea-4921-80e9-0a5d792fc511/ir-display.ipynb?viewer=share") Published R notebook].

  +start_free_banner("r")
