//- for development, run $ env CC_COMP_ENV=true CC_STATICPAGES=true npm run webpack-debug

extends ../_base.pug

block vars
  -
    navbar_active = 'software';
    subtitle = NAME + " Software Executables"

block header
  meta(name="description" content=NAME + " Executables")


block content
  -
    var info  = htmlWebpackPlugin.options.components['executables'] || {};
    var execs = htmlWebpackPlugin.options.inventory['executables'] || {};
    var exec_keys = Object.keys(execs);
    exec_keys.sort(function (a, b) {
      return info[a].name.toLowerCase().localeCompare(info[b].name.toLowerCase());
    });

  a.anchor#a-top
  div.container
    div.row#top
      h1 Executables
      div.
        This is a non-comprehensive list of executables available on #{NAME}.
        The output of running the executable with #[code --version] or equivalent is shown below.
        This offers some information about the utility and version number.
      div.
        To run the software executable, you need to either open a "Terminal" (create a file with the extension #[code .term])
        or run it indirectly via an interactive worksheet.
      div.
        On #{NAME}, you can also install and/or compile your own executable binaries.
        You have a lot of control about your own project, which is essentially a containerized Linux environment.

  div.container
    div.row
      each idx in exec_keys
        - var ref = info[idx].name.replace(/ /g, '-')
        a.anchor(name=ref)
        h3
          = info[idx].name
          code.software= idx
          a(href="#" + ref, class="marker") ¶
        //- this also escapes the output, which is necessary because there are some strings that could be interpreted as html
        pre.stdout= execs[idx]

  //- CSS comes at the bottom: overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      .container > div.row
        margin           : 0
      code.software
        font-size        : 80%
        margin-left      : 2rem
        position         : relative
        bottom           : 2px
      pre.stdout
        font-size        : 80%
        font-family      : monospace
        max-height       : 12rem
        white-space      : pre-wrap