//- teaching landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'teaching';
    subtitle = 'Teaching scientific software online';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content
  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"


  div.space#top
    div.container
      div.row.intro
        div.col-md-6.center
          div.row
            div.col-sm-4.col-sm-offset-4.center
              img(src="https://storage.googleapis.com/cocalc-extra/fa-graduation-cap.svg").fit
            div.col-sm-12.space
              div.headline #{subtitle}
              div.subheadline.
                #{NAME} is a virtual online computer lab – it takes away the pain of teaching software!
        div.col-md-6.center
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-course-assignments-2019.png").fit.shadow.rounded
      div.row
        div.col-md-12.center
          +start_button_2


  div.container
    div.row.spacing2
      div.col-sm-6
        h3.firstline.
          An entire computer lab in the cloud
        ul.list
          li Every student works 100% online – inside their own, isolated workspace.
          li.
            Follow the progress of each student in real-time
          li.
            At any time you can #[strong jump into a file of a student], right where they are working.
          li.
            Use #[strong #[a(href="https://doc.cocalc.com/time-travel.html") TimeTravel]]
            to see each step a student took to get to the solution.
          li.
            #[strong #[a(href="https://doc.cocalc.com/chat.html") Integrated chat rooms]] allows you to guide students directly
            where they work or discuss collected files with your teaching assistants.
          li.
            The project's #[strong #[a(href="https://doc.cocalc.com/project-log.html") Activity Log]]
            records exactly when and by whom a file was accessed.

      div.col-sm-6
        h3.firstline.
          No software setup #[small 100% online]
        p.
          #[strong Common underlying software environment]:
        ul.list
          li Forget any complicated software setup – everyone is able to start working in seconds!
          li.
            Since everyone works with exactly the same software stack,
            any inconsistencies between your and your students' environments are eliminated.
        p.
          More about #{NAME}'s #[a(href=PREFIX + "doc/software.html") Software Environment]

    div.row
      div.col-sm-6
        h3.firstline Manage all files
        p.
          The course management interface gives you full control over
          distributing, collecting, grading and returning everyone's assignments.
        div
          img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-teaching.svg.png").fit

      div.col-sm-6
        h3.firstline Learn more
        ul.list
          li #[strong #[a(href="https://doc.cocalc.com/teaching-instructors.html") Instructor Guide]].
          li #[a(href="https://doc.cocalc.com/") CoCalc Manual]
          li #[a(href="https://github.com/sagemathinc/cocalc/wiki/Teaching") Courses using #{htmlWebpackPlugin.options.title}]
        p.spacing2
          a.btn.btn-primary.cc-btn(href="mailto:help@cocalc.com") Contact us
          a.btn.btn-default.cc-btn(href=htmlWebpackPlugin.options.theme.LIVE_DEMO_REQUEST target="_blank" rel="noopener") Request a live demo

  +start_free_banner


  a.anchor#a-overview
  div.space#overview

    +nbgrader-support

  +available-tools

  a.anchor#a-testimonials
  div#testimonials
    div.container
      div.row
        div.col-md-12.center
          h1 #[i.fa.fa-comment] Testimonials
        div.col-md-6
          blockquote.blockquote
            img.pull-left.img-rounded(src=require('!file-loader!kiran.jpeg') title="© Autor: Mathematisches Forschungsinstitut Oberwolfach gGmbH (MFO) -- Lizenz: CC BY-SA 2.0 (de)")
            p.
              I just found out that my #{NAME} class got by far the best course evaluations
              for any course I've taught at UCSD to date (over 85% on the favorable/&shy;unfavorable scale),
              which makes it a sure thing that I'll be teaching this course again (in some form) next year!
              Many thanks for the backend work on #{NAME}, for the course materials, for the guest lecture...
            footer.
              #[strong Kiran Kedlaya] &mdash; UC San Diego, March 2017
        div.col-md-6
          blockquote.blockquote
            img.pull-left.img-rounded(src=require('!file-loader!will_conley.jpg'))
            p.
              #{NAME} provides a user-friendly interface.
              Students don't need to install any software at all.
              They just open up a web browser and go to #[a(href=URL) #{URL}] and that's it.
              They just type code directly in, hit shift+enter and it runs, and they can see if it works.
              It provides immediate feedback.
              The #[a(href="https://doc.cocalc.com/teaching-instructors.html") course management features] work really well.
            footer.
              #[strong Will Conley] &mdash; Math professor, University of California at Los Angeles, Fall 2016

  +start_free_banner
