//- teaching landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'teaching';
    subtitle = 'Online Teaching Environment';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content
  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-2.col-sm-offset-5.center
        img(src="https://storage.googleapis.com/cocalc-extra/fa-graduation-cap.svg").fit
      div.col-md-12.center
        h1 Teaching online with #{NAME}
        h3 A virtual online computer lab
      div.col-sm-6
        img(src="https://storage.googleapis.com/cocalc-extra/cocalc-course-assignments-2019.png").fit
      div.col-sm-6
        p.
          #[strong #{NAME} moves an entire computer lab into the cloud].
          Every student works online inside their own, isolated workspace.
        p.
          #[strong Organizing files made easy]:
          #{NAME}'s course management interface gives you full control over
          distributing, collecting, grading and returning everyone's assignments.
        p.
          #[strong Follow the progress of each student in real-time]:
          If a student needs help, instructors and TAs can open the student's file and see exactly what the student sees.
          This helps enormously with giving quick and precise help.
        p.
          #[strong Common underlying software environment]:
          no complicated software setup necessary!
          Everyone works with the very same software,
          and no slight incompatibilities between your and your student's environment.
        p.
          Learn more in the #[strong #[a(href="https://doc.cocalc.com/teaching-instructors.html") Instructor Guide]].


  a.anchor#a-teaching
  div.space#teaching
    div.container
      div.row
        div.col-md-12.center
          h1 Teaching a course online
        div.col-sm-6
          div
            img(src="https://storage.googleapis.com/cocalc-extra/cocalc-teaching.svg.png").fit
        div.col-sm-6
          p.
            Have you experienced the pain of setting up the software environments for your students?
            With #{NAME} #[strong no software needs to be setup] and you
            can finally #[strong focus on your students]!
          p.
            Combined with #{NAME}'s other unique features you can manage your class much more effectively:
          ul
            li.
              At any time you can #[strong jump into a file of a student], right where they are working.
            li.
              Use #[strong #[a(href="https://doc.cocalc.com/time-travel.html") TimeTravel]]
              to see each step a student took to get to the solution.
            li.
              Consistent and immutable #[strong #[a(href="https://doc.cocalc.com/project-files.html#snapshot-backups") Backups]]
              make losing files impossible.
            li.
              #[strong #[a(href="https://doc.cocalc.com/chat.html") Integrated chat rooms]] allows you to guide students directly
              where they work or discuss collected files with your teaching assistants.
            li.
              The project's #[strong #[a(href="https://doc.cocalc.com/project-log.html") Activity Log]]
              records exactly when and by whom a file was accessed.
          p.
            Follow the #[strong #[a(href="https://doc.cocalc.com/teaching-instructors.html") Instructor Guide]]
            to create a course file, add your students, distribute assignments and handouts,
            and later collect and grade their homework.
          div.row
            div.col-md-6
              ul
                li #[a(href="https://doc.cocalc.com/") CoCalc Manual]
                li #[a(href="https://github.com/sagemathinc/cocalc/wiki/Teaching") Courses using #{htmlWebpackPlugin.options.title}]
            div.col-md-6
              a.btn.btn-default.btn-lg.cc-create-account-btn(href=htmlWebpackPlugin.options.theme.LIVE_DEMO_REQUEST target="_blank" rel="noopener") Request a live demo!


  a.anchor#a-course
  div.container.space#course
    div.row
      div.col-md-12.center
        h2 Available tools

      div.col-sm-3
        div.row
          div.col-sm-4.col-sm-offset-4.center
            a(href="./jupyter-notebook.html")
              img(src=require("webapp-lib/assets/jupyter-logo.svg")).fit
        h3.center.
          #[a(href="./jupyter-notebook.html") Jupyter Notebooks]
        p.
          #{NAME} offers several ways for teaching with Jupyter Notebooks.
          Its own native implementation offers real-time synchronization, time-travel, side-chat, and much more.
        p.
          For specific purposes, you can also run
          #[a(href="https://doc.cocalc.com/jupyter.html#classical-versus-cocalc") Jupyter Lab or the Classical Notebook interface].

      div.col-sm-3
        div.row
          div.col-sm-4.col-sm-offset-4.center
            a(href="https://doc.cocalc.com/sagews.html")
              img(src="http://www.sagemath.org/pix/sage-sticker-1x1_inch-small.png").fit
        h3.center.
          #[a(href="https://doc.cocalc.com/sagews.html") Sage Worksheets]
        p.
          A #[a(href="https://doc.cocalc.com/sagews.html") Sage Worksheet] is similar to a Jupyter Notebook,
          but made to work well with #[a(href="https://www.sagemath.org") SageMath],
          a sophisticated open-source mathematical software system.

      div.col-sm-3
        div.row
          div.col-sm-6.col-sm-offset-3.center
            a(href="./latex.html")
              img(src=require("webapp-lib/assets/latex-logo.svg") style="padding: 10px 0").fit
        h3.center.
          #[a(href="./latex.html") LaTeX Documents]
        p.
          #{NAME}'s online #[a(href="./latex.html") LaTeX editor]
          gives you a full LaTeX environment with zero-setup.
          It supports online preview rendering, forward/inverse search, error reporting,
          and #[a(href="https://doc.cocalc.com/latex.html") much more]!

      div.col-sm-3
        div.row
          div.col-sm-4.col-sm-offset-4.center
            a(href="./terminal.html")
              img(src=require("webapp-lib/assets/linux-logo.svg")).fit
        h3.center.
          #[a(href="./terminal.html") Full Linux Terminal]
        p.
          A full online Linux terminal gives you all the powerful tools of an
          #[a(href="./linux.html") Linux environment].
          Everything is ready to teaching Linux and shell scripting,
          compile a variety of programming languages,
          process data or text files, and tie everything together via various command-line tools.


  a.anchor#a-testimonials
  div#testimonials
    div.container
      div.row
        div.col-md-12.center
          h1 #[i.fa.fa-comment] Testimonials
        div.col-md-6
          blockquote.blockquote
            img.pull-left.img-rounded(src=require('!file-loader!kiran.jpeg') title="© Autor: Mathematisches Forschungsinstitut Oberwolfach gGmbH (MFO) -- Lizenz: CC BY-SA 2.0 (de)")
            p.
              I just found out that my #{NAME} class got by far the best course evaluations
              for any course I've taught at UCSD to date (over 85% on the favorable/&shy;unfavorable scale),
              which makes it a sure thing that I'll be teaching this course again (in some form) next year!
              Many thanks for the backend work on #{NAME}, for the course materials, for the guest lecture...
            footer.
              #[strong Kiran Kedlaya] &mdash; UC San Diego, March 2017
        div.col-md-6
          blockquote.blockquote
            img.pull-left.img-rounded(src=require('!file-loader!will_conley.jpg'))
            p.
              #{NAME} provides a user-friendly interface.
              Students don't need to install any software at all.
              They just open up a web browser and go to #[a(href=URL) #{URL}] and that's it.
              They just type code directly in, hit shift+enter and it runs, and they can see if it works.
              It provides immediate feedback.
              The #[a(href="https://doc.cocalc.com/teaching-instructors.html") course management features] work really well.
            footer.
              #[strong Will Conley] &mdash; Math professor, University of California at Los Angeles, Fall 2016

  +start_free_banner
