extends _terminal.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'terminal';
    subtitle = 'Online Linux Terminal';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content
  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"


  div#top
    div.container
      div.row.intro
        div.col-md-6.center
          div.row
            div.col-sm-4.col-sm-offset-4.center
              img(src=require("webapp-lib/assets/linux-logo.svg")).fit
            div.col-sm-12
              div.headline #{subtitle}
              div.subheadline.center.
                A Linux Terminal that can't mess up your own computer.
        div.col-md-6.center
          img(src="https://storage.googleapis.com/cocalc-extra/terminal.png").fit.shadow.rounded
      div.row
        div.col-md-12.center
          +start_button_2("terminal")

  div.container
    div.row.spacing2
      div.col-sm-6
        h3.firstline Full Linux Terminal
        p
          strong.
            #{NAME} offers a full, collaborative, real-time synchronized
            #[a(href="https://en.wikipedia.org/wiki/Linux") Linux] Terminal in your browser.
        p.
          Take a look at our
          #[strong #[a(href="https://doc.cocalc.com/terminal.html") terminal documentation]]
          to learn more about it!
        p.
          List of #[strong #[a(href=PREFIX+"doc/software-executables.html") installed software]]

      div.col-sm-6
        h3.firstline Benefits of working online
        ul
          li.
            You no longer have to #[strong install and maintain] any software.
            In particular when you're teaching a class, students just have to sign in to #{NAME} to get started!
          li.
            It is possible to #[strong collaboratively use the same terminal in real-time].
          li.
            You can also edit shell script files and run the script.
          li.
            #[strong Automatic backup] keeps your files safe!
          li.
            You can #[strong copy/paste] between your local desktop and the online terminal.

  +start_free_banner('terminal')

  +terminal-real-time

  a.anchor#a-software
  div.container#software
    +linux-software

  +linux-snapshot-backups

  +start_free_banner('terminal')
