//- x11 landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'x11';
    subtitle = 'Run Graphical Applications Online';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content

  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)



  div.space#top
    div.container
      div.row.intro
        div.col-md-6.center
          div.row
            div.col-sm-4.col-sm-offset-4.center
              img(src=require("webapp-lib/assets/x11-logo.svg")).fit
            div.col-sm-12.spacing2
              div.headline #{subtitle}
              //- div.subheadline.
              //-  A remote graphical Linux desktop
        div.col-md-6.center
          div.row
            div.col-sm-12.center
              img(src=require("webapp-lib/assets/x11-01.png")).fit.shadow.rounded
            div.col-sm-12.center.
              #[strong #[a(href="http://maxima.sourceforge.net/") Maxima]'s graphical user interface]
      div.row
        div.col-md-12.center
          +start_button_2("x11")


  div.container
    div.row.spacing2
      div.col-sm-6
        h3.firstline Run graphical software in your browser
        p.
          #{NAME} is able to
          #[strong run #[a(href="https://en.wikipedia.org/wiki/X_Window_System") graphical software using X11] via your browser].
        p.
          The application with a graphical user interface runs remotely on #{NAME} using a virtual display provided by #[a(href="https://xpra.org/") XPRA].

      div.col-sm-6
        h3.firstline Features
        ul
          li.
            You no longer have to #[strong install and maintain] the applications.
            In particular when you're teaching a class, students just have to sign in to #{NAME} to get started!
          li.
            These virtual desktops are #[strong persistent] during an ongoing project session.
          li.
            It is also possible to #[strong collaboratively] interact with the same application in real-time.
          li.
            You can #[strong copy/paste] between your local desktop environment and the virtual session.
          li.
            #[strong Sophisticated session handling and compression] makes this more robust and faster than traditional SSH X-forwarding.

    div.row
      div.col-sm-6
        h3.firstline Popular Applications
        p.
          #[strong Popular applications] are
          #[a(href="http://maxima.sourceforge.net/") Maxima],
          #[a(href="https://www.libreoffice.org/") LibreOffice],
          #[a(href="https://www.openmodelica.org/") OpenModelica],
          #[a(href="https://code.visualstudio.com") Visual Studio Code],
          #[a(href="http://www.xm1math.net/texmaker/") TexMaker], and many more …
        p.
          Please check out our comprehensive table of
          #[strong #[a(href="https://doc.cocalc.com/x11.html#installed-applications") installed application]]
          for additional details.

      div.col-sm-6
        h3.firstline Documentation/Technical Background
        p.
          The #[strong #[a(href="https://doc.cocalc.com/x11.html") X11 Documentation]] explains how to use such a virtual desktop on #{NAME}.
        p.
          Read our #[a(href="http://blog.sagemath.com/cocalc/2018/11/05/x11.html") blog post] to learn about this features!

  +start_free_banner("x11")
