//- the main html template for the static pages (shares some _inc_* files with app.pug)

mixin _start_button_anon_2
  a.btn.btn-success.btn-lg(href=PREFIX + "app?anonymous=" + startup) Run #{NAME} Now

mixin start_button_2(startup)
  p.cc-create-account-btn
    if ANONYMOUS_SIGNUP
      +_start_button_anon_2
      a.btn.btn-default.btn-lg(href=PREFIX + "app") Sign In
    else
      a.btn.btn-success.btn-lg(href=PREFIX + "app") Sign in to #{NAME}

mixin sign_in_buttons(startup)
  div(style="margin-top: 6rem")
    div.container
      div.col-sm-12.center
        +start_button_2(startup)

mixin cocalc-rectangular
  span(style="color:black;")
    img(src=LOGO_RECTANGULAR_URL style="height: 3rem; width: auto;")

mixin organization
  if !!ORGANIZATION_NAME
    if !!ORGANIZATION_URL
      a(href=ORGANIZATION_URL) #{ORGANIZATION_NAME}
    else if !!CONTACT_EMAIL
      a(href='mailto:'+CONTACT_EMAIL) #{ORGANIZATION_NAME}
    else
      span #{ORGANIZATION_NAME}


doctype html

block vars

-
  var fulltitle = NAME;
  if (subtitle) {fulltitle += " - " + subtitle};

html.no-js(lang="en")
  head
    include _inc_head.pug
    title= fulltitle
    block header
    style
      :sass
        html.no-js
          display : none

  body
    style
      :sass
        @import "../smc-webapp/_colors.sass"
        @import "../webapp-lib/_base.sass"

    script.
      function toggle_menu(menu) {
        menu.classList.toggle("open");
        let nav_bars = document.querySelectorAll('div.collapse.navbar-collapse');
        Array.from(nav_bars).forEach(function(nav){
          nav.classList.toggle("show-menu");
        });
      }

    nav#nav-main.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a(href=PREFIX + "index.html")
            img.icon(alt=NAME src=LOGO_SQUARE_URL)
            +cocalc-rectangular
          div.navbar-menu(onclick="toggle_menu(this)")
            div.bar1
            div.bar2
            div.bar3

        div.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if TOS_URL != ''
              li: a(target="_blank" rel='noopener' href=TOS_URL) Terms of Service

            if CONTACT_EMAIL != ''
              li: a(href="mailto:"+CONTACT_EMAIL) Contact

            li: a.sharedfiles(href=PREFIX + "share/") Shared Files
            li: a.documentation(href="https://doc.cocalc.com/") Doc
            li: a.get-started(href=PREFIX + "app") Sign In

        //- that line is below the logo, on the left
        div.navbar-descr.hide-md-screen.
          #{DESCRIPTION}

    div#content
      block content

      include _footer.pug

    script
      :coffee-script
        html = document.documentElement
        window.onload = ->
          html.className = html.className.replace(/\bno-js\b/, 'js')

    noscript
      style.
        html.no-js { display: block; }
