//- if we have a GA token, insert the google analytics async script
- var GOOGLE_ANALYTICS = htmlWebpackPlugin.options.GOOGLE_ANALYTICS
- var DNS = htmlWebpackPlugin.options.theme.DNS
if typeof GOOGLE_ANALYTICS !== "undefined" && GOOGLE_ANALYTICS !== null
    //--- Google Analytics ---
    script.
        //- Instructs analytics.js to use the name `google_analytics`.
        window.GoogleAnalyticsObject = 'google_analytics';
        //- Creates an initial analytics() function.
        //- The queued commands will be executed once analytics.js loads.
        window.google_analytics = window.google_analytics || function() {
          (google_analytics.q = google_analytics.q || []).push(arguments)
        };
        //- Sets the time (as an integer) this tag was executed.
        //- Used for timing hits.
        google_analytics.l = +new Date;
        //- Creates a default tracker with automatic cookie domain configuration.
        google_analytics('create', '#{GOOGLE_ANALYTICS}', 'auto');
        //- Sends a pageview hit from the tracker just created.
        google_analytics('send', 'pageview', location.pathname);

    //- Sets the `async` attribute to load the script asynchronously.
    script(async src='//www.google-analytics.com/analytics.js')
    //--- End Google Analytics ---

//- UTM parameter and referral storage
//- On kucalc, static pages are served without going through the hub.
//- Therefore we have to do the extraction on static pages, too!
//- The referral is only stored if not already set.
//- This helps to filter the SSO auth pages, which are uninteresting referrals
script window._DNS = '#{DNS}';
script
  :coffee-script
    utm = {}
    write_cookie = false
    href = window.location.href
    for part in href.slice(href.indexOf('?') + 1).split('&')
      [k, v] = part.split('=')
      continue if k[...4] != 'utm_'
      k = k[4..]
      continue if k not in ['source', 'medium', 'campaign', 'term', 'content']
      utm[k] = decodeURIComponent(v)
      write_cookie = true

    days = 1
    date = new Date()
    date.setTime(date.getTime() + (days*24*60*60*1000))
    expires = "expires=" + date.toUTCString()

    if write_cookie
      data = window.encodeURIComponent(JSON.stringify(utm))
      document.cookie = "CC_UTM=#{data}; #{expires}; path=/"

    if document.referrer.length > 0 and document.cookie.indexOf('; CC_REF=') == -1
      url = window._DNS.replace('.', '\\.')
      re = new RegExp(":\/\/(.*\.|)#{url}\/")
      if not document.referrer.match(re)
        document.cookie = "CC_REF=#{document.referrer}; #{expires}; path=/"

    delete window._DNS