//- navbar on top of static pages

//- TODO this should be dynamic and part of the base template, but setting the variable doesn't work as I think it should
- var PREFIX = htmlWebpackPlugin.options.PREFIX

nav.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      a(href=PREFIX + "#top")
        img.icon(alt="#{htmlWebpackPlugin.options.title}" src=require('!url?mimetype=image/svg+xml!cocalc-icon.svg'))
        img.name(alt="#{htmlWebpackPlugin.options.title}" src=require('!url?mimetype=image/svg+xml!cocalc-font-dark.svg'))
    div.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href=PREFIX + "#explore") Explore
        li
          a(href=PREFIX + "policies/pricing.html") Pricing
        li
          a.active(href=PREFIX + "app") Get Started