//- the main application -- webpack adds the css, lib and smc assets during compilation

doctype html

html(lang="en")
  head
    include _inc_head.pug
    title= fulltitle
  body
    style.
      #{require('!css-loader?minimize!app-startup-style.css')}
    div#smc-startup-banner
      div.banner-blink
        img(src=require('!url-loader?mimetype=image/svg+xml!cocalc-icon-white-transparent.svg'))
      div.banner-error
        div.message
          | Timeout while loading CoCalc.
          br/
          | Try <a href="javascript:location.reload(true);">reloading the page</a> while holding your shift-key.
          br/
          | Or disable browser extensions blocking external sites, or try a different browser.
    div#smc-startup-banner-status
      | Initializing ...

    //- this sets the global window.app_base_url: either statically via the BASE_URL template variable, or dynamically via hub
    - var BASE_URL = htmlWebpackPlugin.options.BASE_URL
    if typeof BASE_URL !== "undefined" && BASE_URL !== null
        script(type="text/javascript").
            window.app_base_url='#{BASE_URL}';
    else
        script(type="text/javascript" src="base_url.js")

    script(type="text/javascript").
        window.webapp_initial_start_time = (new Date()).getTime();
        function smcLoadStatus(msg) {
        try { document.getElementById("smc-startup-banner-status").innerHTML = msg; } catch(e) {}}

    //- Hidden div to accurately determine if page is in responsive mode
    div.webapp-responsive-mode-test

    div#smc-react-container.page-container

    include _inc_analytics.pug
