//- the main application -- webpack adds the css, lib and smc assets during compilation

- var BASE_URL = htmlWebpackPlugin.options.BASE_URL

doctype html

html(lang="en")
  head
    include _inc_head.pug
    title= CoCalc
    //- we manually insert webpack chunks to get some feedback about the loading process
    script(type="text/javascript").
        window.COCALC_ASSETS = '!{JSON.stringify(files.chunks)}';
  body
    style.
      #{require('!postcss-loader!app-startup-style.css')}

    div#mocha

    div#smc-startup-banner
      div#cc-banner1(style="display:none")
        img(src=require('!url-loader?mimetype=image/svg+xml!cocalc-icon-white-transparent.svg'))
      div#cc-banner2(style="display:none")
      div.banner-error
        div.message#cc-message

    div#cocalc-error-report-startup

    div#smc-startup-banner-status
      | Initializing ...

    //- preflight check comes **after** the startup banner and status info, and before any code that might be syntactically broken.
    script(type="text/javascript")
      include:typescript preflight-checks.ts

    //- this sets the global window.app_base_url: either statically via the BASE_URL template variable, or dynamically via hub
    if typeof BASE_URL !== "undefined" && BASE_URL !== null
        script(type="text/javascript").
            window.app_base_url='#{BASE_URL}';
    else
        script(type="text/javascript" src="base_url.js")

    // initialize app, expecially configuration
    script(type="text/javascript")
      include:typescript app-init.ts

    script(type="text/javascript").
        window.webapp_initial_start_time = (new Date()).getTime();
        function smcLoadStatus(msg) {
        try { document.getElementById("smc-startup-banner-status").innerHTML = msg; } catch(e) {}}

    script(type="text/javascript").
        if ("serviceWorker" in navigator) {
          window.addEventListener("load", function() {
            navigator.serviceWorker
              .register("./webapp/serviceWorker.js", { scope: BASE_URL})
              .catch(err => console.log("service worker not registered", err))
          })
        }


    //- Hidden div to accurately determine if page is in responsive mode
    div.webapp-responsive-mode-test

    div#smc-react-container.page-container

    div(style="clear: both")

    div#cocalc-assets-loading

    //- Uncomment the lines below to see what data is available ...
    //- h3 Files
    //- pre(style="font-size: 70%")= JSON.stringify(files, null, 2)
    //- h3 Options
    //- pre(style="font-size: 70%")= JSON.stringify(htmlWebpackPlugin.options, null, 2)

    include _inc_analytics.pug
