//- main landing page

extends template.pug

block header
  - var recent_times = htmlWebpackPlugin.options.SCHEMA.RECENT_TIMES
  - var stat_times_keys = htmlWebpackPlugin.options.SCHEMA.RECENT_TIMES_KEY
  - var stat_times = JSON.stringify([stat_times_keys.last_hour, stat_times_keys.last_day, stat_times_keys.last_week, stat_times_keys.last_month])
  script(type="text/javascript").
    window.stat_times = !{stat_times};
  script(type="text/javascript")
    include:coffee-script index.coffee

block content
  - var free_quotas = htmlWebpackPlugin.options.SCHEMA.DEFAULT_QUOTAS
  - var free_memory_gb = (free_quotas['memory'] / 1000).toFixed(1)
  - var free_disk_gb = (free_quotas['disk_quota'] / 1000).toFixed(1)
  - var NAME = htmlWebpackPlugin.options.title
  - var URL = "cocalc.com"

  nav.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        a(href="#top")
          img.icon(alt="#{htmlWebpackPlugin.options.title}" src=require('!url?mimetype=image/svg+xml!cocalc-icon.svg'))
          img.name(alt="#{htmlWebpackPlugin.options.title}" src=require('!url?mimetype=image/svg+xml!cocalc-font-dark.svg'))
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li #[a(href="#explore") Explore]
          li #[a(href="policies/pricing.html") Pricing]
          li #[a.active(href="app") Get Started]

  div.container
    div.row.intro#top
      div.col-sm-4.col-sm-offset-4.center
        a(href="app")
          img(src=require('!url?mimetype=image/svg+xml!cocalc-logo.svg'))
      div.col-sm-12.center.descr.
        #{htmlWebpackPlugin.options.description}
      div.col-sm-12.center
        a.btn.btn-success.btn-lg(href="app").
          Start #{NAME} For Free
    div.row
      div.col-md-12.center
        h1 Zero setup
      div.col-sm-6
        img(src=require('!file!sagepreview/01-worksheet.png'))
      div.col-sm-6
        p.
          #{NAME} is a sophisticated all-round web-service for
          #[strong mathematical calculation], #[strong statistical analysis] and #[strong various other computation].
        ul
          li.
            Getting started #[em does not require any software installation]:
            #[strong Create a project for free] to start working in your own private workspace.
          li Share your files privately with collaborators. All files are synchronized in real-time.
          li Finally, you can publish your documents, files and data publicly.
        p.
          Each project starts with a maximum of #{free_memory_gb} GB memory and
          #{free_disk_gb} GB of disk space.
          #[a(href="policies/pricing.html") Subscriptions] give you
        p.
          #[a(href="app") Start #{htmlWebpackPlugin.options.title} For Free]

    div.row
      div.col-md-12.center
        h1 Teaching made easy
      div.col-sm-6.
        ...
      div.col-sm-6
        p.
          Have you ever experieneced the pain setting up the software environments of your students?
          With #{NAME} #[strong no software needs to be setup] and with its unique features you
          can finally #[strong focus on your students again]!
        ol
          li Create a course on #{NAME}
          li Add your students
          li Distribute assignments and handouts
          li Jump into student's files right where they are working
          li Collect and grade assignments

  div#explore
    div.container
      div.row
        div.col-md-12.center
          h1 Explore #{htmlWebpackPlugin.options.title}
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-archive] Projects
          div.
            Your work on #{htmlWebpackPlugin.options.title} happens inside #[strong private projects].
            They form your personal workspaces containing your files, computational worksheets, and data.
            You run your computations through the web-interface, either via interactive worksheets, notebooks, or by executing a program in a terminal.
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-users] Collaboration
          div.
            You can invite collaborators to work with you inside a project.
            Like you, they can edit the files in that project.
            Edits are visible in #[strong real-time] for everyone online.
            You can share your thoughts in a #[strong side-chat] next to each document.
        div.clearfix.visible-sm-block
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-graduation-cap] Teaching
          div.
            #{htmlWebpackPlugin.options.title} offers sophisticated tools for teaching.
            Start by creating a #[strong course], add your students, create assignments and distribute them to all students.
            While students work on it you can assist them by jumping right into their files where they're working.
            Later, collect, grade and re-distribute the files.
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-file-text-o] Authoring
          div.
            Write scientific documents online in a #[strong LaTeX editor].
            It offers a full LaTeX setup, has a side-by-side preview with forward and inverse search,
            and also supports advanced features like
            #[a(href="http://doc.sagemath.org/html/en/tutorial/sagetex.html" target="_blank") SageTeX] and
            #[a(href="https://yihui.name/knitr/" target="_blank") R's Knitr].

  div#testimonials
    div.container
      div.row
        div.col-md-12.center
          h1 Testimonials
        div.col-md-6
          blockquote.blockquote
            img.pull-left.img-rounded(src=require('!file-loader!kiran.jpeg'))
            p.
              I just found out that my #{NAME} class got by far the best course evaluations
              for any course I've taught at UCSD to date (over 85% on the favorable/&shy;unfavorable scale),
              which makes it a sure thing that I'll be teaching this course again (in some form) next year!
              Many thanks for the backend work on #{NAME}, for the course materials, for the guest lecture...
            footer.
              #[strong Kiran Kedlaya] &mdash; UC San Diego, March 2017
        div.col-md-6
          blockquote.blockquote
            img.pull-left.img-rounded(src=require('!file-loader!will_conley.jpg'))
            p.
              #{NAME} provides a user-friendly interface.
              Students don’t need to install any software at all.
              They just open up a web browser and go to #{URL} and that’s it.
              They just type code directly in, hit shift+enter and it runs, and they can see if it works.
              It provides immediate feedback.
              The #[a(href="https://github.com/mikecroucher/SMC_tutorial/blob/master/README.md" target="_blank") course management features] work really well.
            footer.
              #[strong Will Conley] &mdash; Math professor, University of California at Los Angeles

  div.container
    div.row
      div.col-md-6#included
        h2 #[i.fa.fa-battery-three-quarters] Batteries included
        p.
          Out of the box hundreds of open-source tools are available for you.
          Here is a short list of a selected few:
        include _static_third_party_software.html
      div.col-md-6#stats
        h2 #[i.fa.fa-line-chart] Statistics
        div.
          There are currently #[strong #[span#sum_clients ?] users] connected to #{htmlWebpackPlugin.options.title}.
        div(style="margin-top: 3rem")
          table.table.bordered.condensed.hover.cc-help-stats-table#statstable
            thead
              tr
                th past
                th hour
                th day
                th week
                th month
            tbody
              tr
                td.left(colspan="4") Loading ...
              tr
              tr

    //- include _static_about.html
    include _static_footer.html
    div.center(style="margin-bottom: 6rem;")
      a(href="app")
        img(src=require('!url?mimetype=image/svg+xml!cocalc-font-dark.svg') style="height: 3rem; width: auto;")

  //- CSS comes at the bottom: overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      div#top
        margin           : 10rem 0 5rem 0
        .descr
          color          : $COL_GRAY
          font-size      : 2rem
        >div
          margin-bottom  : 2rem
      nav.navbar.navbar-default
        border-bottom    : 2px solid $COL_GRAY
        background-color : $COL_GRAY_LL
        .navbar-header
          margin-top     : 5px;
          img.icon
            height       : 4rem
            width        : auto
            margin-right : 2rem
          img.name
            height       : 3rem
            width        : auto
            margin-right : 2rem
        .navbar-nav>li>a
          font-size      : 2rem
      #statstable td,
      #statstable th
        text-align       : right
      blockquote.blockquote
        font-size        : 16px
        img
          height         : 10rem
          width          : auto
          float          : left
          margin         : 0 1rem 1rem 0
      div
        img
          width        : 100%
          height       : auto
        &.row
          margin-top   : 2rem
          margin-bottom: 4rem
          > div
            > h2, h3
              margin-bottom : 2rem
      .center
        text-align     : center
      .right
        text-align     : right
      .left,
      #statstable td.left
        text-align     : left
      #explore
        background-color : $COL_GRAY_LL
        div > h3
          white-space    : nowrap
      #included > div
        padding        : 0
      body > div.container > footer
        margin-top     : 6rem
