//- main landing page

//- important detail: those anchor links aren't generated automatically. they need to adhere to a given pattern:
//- h1 or h2 -> signal **where** and then a div#name element in the parent signals the **name**.
//- the corresponding anchor link is then a.anchor#a-name

//- development:
//- webpack-staticpages: cd $SALVUS_ROOT; scripts/update_color_scheme.coffee; scripts/update_react_static; CC_STATICPAGES=true SOURCE_MAP=false webpack --debug --output-pathinfo --progress --colors
//- webpack-watch-staticpages: env CC_STATICPAGES=true NODE_ENV=development webpack --debug --output-pathinfo --progress --colors --watch --watch-poll=1000

extends _base.pug

block vars
  - var subtitle = htmlWebpackPlugin.options.description;
  - var navbar_active = 'index';

block header
  - var recent_times = htmlWebpackPlugin.options.SCHEMA.RECENT_TIMES
  - var stat_times_keys = htmlWebpackPlugin.options.SCHEMA.RECENT_TIMES_KEY
  - var stat_times = JSON.stringify([stat_times_keys.last_hour, stat_times_keys.last_day, stat_times_keys.last_week, stat_times_keys.last_month])
  script(type="text/javascript").
    window.stat_times = !{stat_times};
  script(type="text/javascript")
    include:coffee-script index.coffee
  meta(name="description" content=htmlWebpackPlugin.options.description)

block content

  //- CSS: overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      body > div.space
        margin-top       : 5rem
      div#top
        margin           : 10rem 0 5rem 0
        .descr
          color          : $COL_GRAY
          font-size      : 2rem
        > div
          margin-bottom  : 2rem
      #statstable td,
      #statstable th
        text-align       : right
      blockquote.blockquote
        font-size        : 16px
        img
          height         : 10rem
          width          : auto
          float          : left
          margin         : 0 1rem 1rem 0
      ul,
      ol
        padding-left     : 2rem
      div
        img
          width             : 100%
          height            : auto
        &.row
          margin-top        : 2rem
          margin-bottom     : 4rem
          > div
            > h1
              margin-bottom : 4rem
            > h2, h3
              margin-bottom : 2rem
      .left,
      #statstable td.left
        text-align     : left
      #explore,
      #bottom
        background-color : $COL_GRAY_LL
        div > h3
          white-space    : nowrap
      #included > div
        padding          : 0
      .ff-only
        display: none
      @supports (-moz-appearance:none)
        .ff-only
          display: block

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-4.col-sm-offset-4.center
        a(href="app?anonymous=true")
          img(src=require('!url-loader?mimetype=image/svg+xml!cocalc-logo.svg'))
      div.col-sm-12.center.descr.
        #{htmlWebpackPlugin.options.description}
      div.col-sm-12.center.spacing
        a(href="app?anonymous=true")
          img(src="https://storage.googleapis.com/cocalc-extra/cocalc-screenshot-20200123-nq8.png").shadow.large
      div.col-sm-12.center.spacing
        +start_button

  div.container
    div.row
      div.col-md-4
        strong IMAGE
      div.col-md-8
        h2.firstline
          strong Zero-setup
        p.
          Immediately start working with Jupyter notebooks,
          write LaTeX documents or use a full Linux terminal.
        p
          strong You only need a web-browser!
        p.
          Learn more about #[a(href="./doc/jupyter-notebook.html") Jupyter Notebook support],
          #[a(href="./doc/latex-editor.html") LaTeX editor], and #[a(href="./doc/terminal.html") Linux support].

    div.row
      div.col-md-4
        p
          img(src="https://storage.googleapis.com/cocalc-extra/collab-workplace.jpg", style='height:auto; width:100%')
      div.col-md-8
        h2.firstline
          strong Collaboration
        p.
          Simultaneously edit any file – including Jupyter Notebooks – and #[strong all changes are synchronized in real-time].
        p.
          Integrated chat and notifications let you exchange thoughts and ideas.

    div.row
      div.col-md-4
        p
          img(src="https://storage.googleapis.com/cocalc-extra/classroom-computer.jpg", style='height:auto; width:100%')
      div.col-md-8
        h2.firstline
            strong Teaching made easy
        p.
          #[strong #{NAME} is made for teaching a course]!
        p.
          No hassle installing software on every student's machine,
          directly help your students on their notebooks,
          and let #{NAME} organize all files.
        p.
          Learn more about #[a(href="./doc/teaching.html") Teaching with #{NAME}].




  a.anchor#a-explore
  div.space#explore
    div.container
      div.row
        div.col-md-12.center
          h1 #[i.fa.fa-lightbulb] Explore #{NAME}
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-archive] Projects
          div.
            Your work on #{htmlWebpackPlugin.options.title} happens inside #[strong #[a(href="https://doc.cocalc.com/project.html") private projects]].
            They form your personal workspaces containing your files, computational worksheets, and data.
            You run your computations through the web interface, via interactive worksheets and notebooks,
            or by executing a program in a terminal.
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-users] Collaboration
          div.
            #[a(href="https://doc.cocalc.com/project-settings.html#about-collaborators") Invite collaborators] into your project to work as a team.
            Like you, they can edit the files in that project.
            Edits are visible in #[strong real time] for everyone online.
            You can share your thoughts in a #[strong side chat] next to each document.
        div.clearfix.visible-sm-block
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-graduation-cap] Teaching
          div.
            #{htmlWebpackPlugin.options.title}
            #[a(href="./doc/teaching.html") offers sophisticated tools for teaching].
            Start by creating a #[strong course], add your students, create assignments and distribute them to all students.
            While students work on it, assist them by jumping right into their files where they're working.
            Later, collect, grade and re-distribute the files.
        div.col-md-3.col-sm-6
          h3 #[i.fa.fa-file-alt] Authoring
          div.
            Write scientific documents online in a #[strong #[a(href="./doc/latex-editor.html") LaTeX editor]].
            It offers a full LaTeX setup, has a side-by-side preview with forward and inverse search,
            and supports many advanced features.

  a.anchor#a-unique
  div.space#unique
    div.container
      div.row
        div.col-md-12.center
          h1 #[i.fa.fa-exclamation-circle] Unique Features
        div.col-md-6
          h2 #[img(src=require("webapp-lib/assets/jupyter-logo.svg"), style="width:30px")] Native Jupyter Notebooks
          div.
            This is a #[strong #[a(href="./doc/jupyter-notebook.html") fully compatible rewrite]] of the classical #[a(href="http://jupyter.org/") Jupyter Notebook].
            It is tightly integrated into #{NAME} and adds real-time collaboration,
            time-travel history and much more.
          p.
            #[a(href="https://doc.cocalc.com/jupyter.html") Native Jupyter documentation]
          br/
          div
            img(data-src=require("webapp-lib/assets/cocalc-jupyter2-20170508.png")).fit
        div.col-md-6
          h2 #[i.fa.fa-comment] Chat rooms
          div.
            #[a(href="https://doc.cocalc.com/chat.html") #[strong Stand-alone] chat rooms and #[strong side-by-side] chat] for each file
            give you the ability to discuss your work with your collegues.
            Collaborators who are not online will be notified about new messages the next time they sign in.
            Chat supports markdown formatting, Latex formulas and @mentioning a collaborator.
          p.
            #[a(href="https://doc.cocalc.com/chat.html") Chat documentation]
          br/
          div
            img(data-src=require("webapp-lib/assets/smc-side-chat-20170508.png")).fit
      div.row
        div.col-md-6
          h2 #[i.fa.fa-history] Time-Travel
          div.
            All your changes are recorded in fine detail.
            You can go back and forth in time across hundreds of changes to recover your previous edits.
          p.
            #[a(href="https://doc.cocalc.com/time-travel.html") Time-travel documentation]
          br/
          div
            +video-player
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter2-timetravel-20170515-3x.webm" type="video/webm; codecs=vp9")
              source(src="https://storage.googleapis.com/cocalc-extra/cocalc-jupyter2-timetravel-20170515-3x.mp4" type="video/mp4")
        div.col-md-6
          h2 #[i.fa.fa-camera-retro] Backups
          div.
            Every couple of minutes, all files are saved in consistent read-only snapshots.
            This means can recover previous versions of your files
            in case they got corrupted or accidentally deleted.
          p.
            #[a(href="https://doc.cocalc.com/project-files.html#snapshot-backups") Snapshot backup documentation]
          br/
          div
            img(data-src=require("webapp-lib/assets/cocalc-backup-1.png")).fit

  a.anchor#a-authoring
  div.space#authoring
    div.container
      div.row
        div.col-md-12.center
          h1 #[i.fa.fa-file-alt] Authoring
        div.col-md-6
          h2 LaTeX Editor
          div.
            #{NAME} includes a full #[strong #[a(href="./doc/latex-editor.html") LaTeX editor]] with
            #[strong side-by-side] preview and forward/inverse search.
            This allows you to not only do computations online,
            but also create scientific documents for their dissemination.
          div.
            Additionally, there is support for:
            #[a(href="./doc/latex-editor.html#a-sagetex") SageTeX, PythonTeX and R's Knitr].
          br/
          div
            img(data-src="https://storage.googleapis.com/cocalc-extra/cocalc-latex-editor-2019.png").fit
        div.col-md-6
          h2 Markdown/HTML/Rmd
          div.
            Conveniently edit
            #[a(href="https://en.wikipedia.org/wiki/Markdown") Markdown] #[code .md]
            or HTML documents
            with side-by-side live preview, showing LaTeX formulas and embedded graphics.
          div.
            #{NAME} also supports
            #[a(href="https://rmarkdown.rstudio.com/") RMarkdown] #[code .Rmd] files
            to include #[a(href="https://www.r-project.org/") R] and
            #[a(href="https://www.python.org/") Python] calculations and plots.
          br/
          div
            img(data-src="https://storage.googleapis.com/cocalc-extra/smc-mdhtml-20170516.png").fit

  div
    +start_free_banner
