//- main landing page

extends template.pug

block header
  script
    include:coffee-script index.coffee

block content

  nav.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        a(href="#top")
          img.icon(alt="#{htmlWebpackPlugin.options.title}" src=require('!url?mimetype=image/svg+xml!cocalc-icon.svg'))
          img.name(alt="#{htmlWebpackPlugin.options.title}" src=require('!url?mimetype=image/svg+xml!cocalc-font-dark.svg'))
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li #[a(href="#explore") Explore]
          li #[a(href="policies/pricing.html") Pricing]
          li #[a.active(href="app") Get Started]

  div.container.main#top
    div.row
      div.col-sm-4.col-sm-offset-4.center.top
        a(href="app")
          img(src=require('!url?mimetype=image/svg+xml!cocalc-logo.svg'))
      div.col-sm-12.center.top
        span #{htmlWebpackPlugin.options.description}
    div.row
      div.col-md-12.center
        a.btn.btn-success.btn-lg(href="app").
          Start #{htmlWebpackPlugin.options.title} For Free
    div.row
      div.col-sm-6
        img(src=require('!file!sagepreview/01-worksheet.png'))
      div.col-sm-6
        h1.
          Powerful Online
        div.
          #{htmlWebpackPlugin.options.title} is a ...
        div.
          #[a(href="app") Start #{htmlWebpackPlugin.options.title} For Free]

    div.row#explore
      div.col-md-12.center
        h1 explore
        div(style="height: 300px; background: #8ff").
          explore

    //- include _static_about.html
    include _static_footer.html
    div.center(style="margin-bottom: 6rem;")
      a(href="app")
        img(src=require('!url?mimetype=image/svg+xml!cocalc-font-dark.svg') style="height: 3rem; width: auto;")

  //- overwrite any styles maybe defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      nav.navbar.navbar-default
        border-bottom    : 2px solid $COL_GRAY
        background-color : $COL_GRAY_LL
        .navbar-header
          margin-top     : 5px
          img.icon
            height       : 4rem
            width        : auto
            margin-right : 2rem
          img.name
            height       : 3rem
            width        : auto
            margin-right : 2rem
        .navbar-nav>li>a
          font-size      : 2rem
      div
        &.main
          margin       : 0 auto
          min-height   : 66vh
        img
          width        : 100%
          height       : auto
        &.row
          margin-top   : 6rem
        &.top > span
          color        : $COL_GRAY
          font-size    : 2rem
      .center
        text-align     : center
      footer
        margin-top     : 6rem
