//- thirdparties page

extends ../_base.pug

block vars
  - var navbar_active = 'policies';
  - var subtitle = 'Third Parties';
  - var subnavbar_active = 'thirdparties';

block content

  div.jumbotron
    div.container
      h1 #[a(href=URL) #{COMPANY_NAME}]
      h2 #{NAME} Third Parties  (September 18, 2019)
      a.btn.btn-default(href="index.html" role="button") &laquo; Other Policies


  div.container.vertical-expand
    div.row
      div.col-md-8

        p.
          #{NAME} uses a number of third party providers and services.
          For each of them, we link to furhter policies, explain the purpose and use case, and which data is shared.

        ul
          li #[a(href="https://cloud.google.com/") Google Cloud Platform] by Google Inc.
          ul
            li Google Compute Engine: running the online service (#[a(href="https://cloud.google.com/terms/data-processing-terms") data processing and security terms])
            li Google Cloud Storage: saving various files, project archives, and backup
            li part of #[a(href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI") us/eu privacy shield]

          li Google Analytics by Google Inc.
          ul
            li usage: basically sets a cookie to help understand usage
            li #[a(href="https://marketingplatform.google.com/about/analytics/terms/us/") terms of service]
            li #[a(href="https://support.google.com/analytics/answer/181881?hl=en") opt-out plugin]

          li #[a(href="https://www.zendesk.com/") Zendesk]
          ul
             li usage: support tickets
             li shared: name, email address, account id
             li.
               #[a(href="https://www.zendesk.com/company/customers-partners/privacy-policy/") privacy policy] and
               #[a(href="https://www.zendesk.com/company/customers-partners/eu-data-protection/") eu data protection]
             li #[a(href="https://www.privacyshield.gov/participant?id=a2zt0000000TOjeAAG") us/eu privacy shield]

          li #[a(href="https://stripe.com") Stripe, Inc.]
          ul
             li usage: payment processor
             li shared: name, email address, subscription data, account id
             li #[a(href="https://stripe.com/us/privacy") privacy policy] and #[a(href="https://stripe.com/privacy-shield-policy") privacy shield information]
             li Credit card information and associated data is only stored by Stripe
             li #[a(href="https://www.privacyshield.gov/participant?id=a2zt0000000TQOUAA4") us/eu privacy shield]

          li #[strike Appear.in video conferencing]
          ul
             li as of 2018-10-03, cocalc no longer embedds appear.in
             li #[a(href="https://appear.in/information/tos/privacy-policy/") privacy policy]
             li shared: no personal data is shared

          li #[a(href="https://meet.jit.si/") Jitsi Video Conferencing]
          ul
             li usage: embedded video conferencing
             li shared: no personal data is shared
             li #[a(href="https://jitsi.org/meet/terms") privacy policy], the service is run by Atlassian
             li #[a(href="https://www.privacyshield.gov/participant?id=a2zt00000008RdQAAU") us/eu privacy shield]

          li #[a(href="https://gravatar.com/") Gravatar by Automattic]
          ul
             li usage:  avatar images
             li shared: email address
             li NOT used by CoCalc in any way unless user explicitly requests it.
             li #[a(href="https://automattic.com/privacy/") privacy policy]
             li #[a(href="https://www.privacyshield.gov/participant?id=a2zt0000000CbqcAAC") us/eu privacy shield]

          li Google GSuite
          ul
             li usage: email communication
             li #[a(href="https://gsuite.google.com/intl/en/security/") GSuite security]
             li shared: name, email address for emails sent or received by SageMath, Inc.

          li #[a(href="https://www.cloudflare.com/") Cloudflare]
          ul
             li usage: DDOS protection, i.e. manages data traffic from and to the cocalc.com service
             li shared: no structured user data is shared with them
             li #[a(href="https://www.cloudflare.com/gdpr/introduction/") GDPR info]
             li #[a(href="https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0") us/eu privacy shield]

        h1 Questions?

        p.
          Please contact us at #[a(href="mailto:" + COMPANY_EMAIL) #{COMPANY_EMAIL}] if you have any questions about our Third Parties.

